.wrapper{
	width: 80%;
	margin: 0 auto;
}
.wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video{
	width: 100%;
}
.main{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50px;
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    padding: 0;
}
@media(max-width: 780px){
	.wrapper{
		width: 100%;
	}
}