.wrapper{
	width: 80%;
	margin: 0 auto;
}
.wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video{
	width: 100%;
}
.container{
	padding: 0;
}
.main{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50px;
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}
.insta{
    text-align: center;
    font-size: 7em;
    width: 50%;
    margin: 15px auto 0;
    border-top: 1px solid #dedede;
}
@media(max-width: 780px){
	.wrapper{
		width: 100%;
	}
	.insta{
	    font-size: 3em;
	}
}

@media (max-width: 375px) {
	.main{
		font-size: 14px;
	}
}